*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header{

    }
    body{
        background-color: rgb(108, 153, 226);
        font-style: italic;
        font: size 25px;; 
       }

     main{
        margin:0 auto;
      
    } 
    .carrusel{
        padding: 12rem;
        size: 450px;
    }

   nav ul li:hover{
   background-color: blue;
   transform: scale(1.1, 1.1)
   
}
 form{
    padding:1rem;
    margin-left: 20rem;
    font-style: italic;

 }  
 footer{
    font-style:italic;
    padding:10rem;
 }
 .logos{
    margin-left: 115px;
    
 }
   
 @media screen and (max-width:768px){
   .container {
     grid-template-columns: repeat(4, 1fr);
    
     grid-template-areas:
       "header header header header"
       "section1 section1 section2 section2 "
       "section1 section1 section3 section3 "
       "section4 section4 section4 section4"
       "section5 section5 section6 section6"
       "footer footer footer footer ";
   }
 }
 
 @media screen and (max-width:600px){
   .container {
     grid-template-columns:  1fr;
    
     grid-template-areas:
       "header "
       "section1 "
       " section2 "
       "section3  "
       "section4 "
       "section5 "
       "section6 "
       "footer  ";
   }
}
