*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    nav ul li:hover{
      background-color: rgba(0, 0, 255, 0.263);
      border-radius: solid  black;
      transform: scale(1.1, 1.1)
    }
    
    .container1{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
      grid-template-areas: 
      "header header header header"
      "moving moving moving moving"
      "section2 section2 section3 section3"
      "footer footer footer footer";
    }
    .header{
      grid-area: header;
    }
 
    .moving{
      grid-area: moving;      
    }
    .section2{
      grid-area: section2;
     
    }
    .section3{
        grid-area: section3;
       
        }

    
    .footer{
      grid-area: footer;
      background-color: rgb(20, 20, 88);
    }
    @media screen and (max-width:600px){
      .container1 {
        grid-template-columns: 1fr;
       
        grid-template-areas:
          "header"
          "moving"
          "section2"
          "section3"
          "footer";
      }
    }